
    .thumbnail {
      width: 100%;
    }
    .videogrid{
      display: grid;
      column-gap: 16px;
      row-gap: 40px;
      grid-template-columns: 1fr 1fr 1fr;
    }
    
    .videoauthor,
    .videostats{
      font-size: 14px;
      margin-top: 0px;
      color:rgb(2, 84, 87);
    }
    .videoauthor{
      margin-bottom: 4px;
    }

    .profile{
      width: 36px;
      border-radius: 18px;
    }
    .videotitle{
      margin-top: 0px;
      font-size: 14px;
      line-height: 20px;
      font-weight:500;
      margin-bottom: 10px;
    }
    .thumbnailrow{
      margin-bottom: 8px;
      position: relative;
    }
    .videoinfogrid{
      display: grid;
      grid-template-columns: 50px 1fr;
    }
    .videotime{
      background-color: black;
      color: white;
      font-size: 12px;
      font-weight: 500;
      padding-left: 4px;
      padding-right: 4px;
      padding-top: 4px;
      border-radius: 2px;
      padding-bottom: 4px;
      font-family: robot, arial;
      position:absolute;
      bottom: 8px;
      right: 5px;
    }